<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.moviebox">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--The manifest entry for MainActivity-->
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--The manifest entry for DetailActivity-->
        <activity
            android:name=".ui.DetailActivity"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>

        <!--The manifest entry for the Movie Provider-->
        <provider
            android:name=".data.MoviesProvider"
            android:authorities="@string/content_authority"
            android:exported="false" />

        <!--The manifest entry for the SyncDbIntentService-->
        <service
            android:name=".sync.SyncDbIntentService"
            android:exported="false" />

        <!--The manifest entry for the FirebaseJobServiceService-->
        <service
            android:name=".sync.FirebaseJobService"
            android:exported="false">
            <!-- COMPLETED (9) Declare an intent filter with the action ACTION_EXECUTE -->
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>


    </application>


</manifest>